@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
  overflow: hidden;
  width: 100%;
  height: 200vh;
}

#uploads {
  display: none;
  width: 80%;
  text-align: left;
  color: white;
  height: 30%;
  margin-bottom: 5%;
}

#uploads .files, #uploads .file-status {
  color: #000099;
  height: 5%;
  padding: 2%;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 0.5%;
}
table {
	border-top: 1px solid #DDD;
}

td {
	padding: 10px 35px;
}

tr {
	border-bottom: 1px solid #DDD;
}
#balance{
 	font-weight: bold;
}
 
#file-selected {
  color: white;
  display: inline-block;
}

#no-uploads {
  display: none;
  color: #555;
  font-size: 250%;
  width: 50%;
  height: 200px;
  text-align: center;
  padding: 8% 0 0 0;
  font-weight: bold;
}
