@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
  overflow: hidden;
  width: 100%;
  height: 200vh;
}

.submit {
  background-color: mediumseagreen;
  border: none;
  padding: 12px 60px;
  border-radius: 40px;
  color: white;
  cursor: pointer;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 1;
	overflow: hidden;
	position: absolute;
	z-index: 1;
}

.inputfile + label {
  background-color: mediumseagreen;
  border: none;
  padding: 12px 60px;
  border-radius: 40px;
  color: white;
  cursor: pointer;
}

table {
	border-top: 1px solid #DDD;
	color: #0056B3;
}

td {
	padding: 25px 50px;
}
.file-status{
	width: 150px;
}
tr {
	border-bottom: 1px solid #DDD;
}

#file-selected {
  color: #0056B3;
  display: inline-block;
}

#no-uploads {
  display: none;
  color: #555;
  font-size: 250%;
  width: 50%;
  height: 200px;
  text-align: center;
  padding: 8% 0 0 0;
  font-weight: bold;
}
